<!DOCTYPE html>
<html>
  <head>

    <title>Request Page </title>
    <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />

	  <!-- link the webpage's stylesheet -->
	  <link rel="stylesheet" href="/submission_page.css" />

	  <!-- link the webpage's JavaScript file -->
	  <script src="/script.js" defer></script>

  </head>

  <body>
    <header>
    <h1>Facilities Requests</h1>

    <p>Location</p>
    <input type="checkbox" id="Welch" name="Welch" value="location">
    <input type="checkbox" id="Fromm" name="Fromm" value="location">
    <input type="checkbox" id="Gillson" name="Gillson" value="location">
    <input type="checkbox" id="Hayes_Healy" name="Hayes_Healy" value="location">
    <input type="checkbox" id="Loyola" name="Loyola" value="location">
    <input type="checkbox" id="LMmain" name="LMmain" value="location">
    <input type="checkbox" id="LMnorth" name="LMnorth" value="location">
    <input type="checkbox" id="Toler" name="Toler" value="location">
    <input type="checkbox" id="Fulton_house" name="Fulton_house" value="location">
    <input type="checkbox" id="Fulton_cottage" name="Fulton_cottage" value="location">
    <input type="checkbox" id="Koret" name="Koret" value="location">
    <input type="checkbox" id="Sobrato" name="Sobrato" value="location">
    <input type="checkbox" id="Gleeson" name="Gleeson" value="location">
    <input type="checkbox" id="Harney" name="Harney" value="location">
    <input type="checkbox" id="LoSchiavo" name="LoSchiavo" value="location">
    <input type="checkbox" id="Cowell" name="Cowell" value="location">
    <input type="checkbox" id="Malloy" name="Malloy" value="location">
    <input type="checkbox" id="Education" name="Education" value="location">
    <input type="checkbox" id="UC" name="UC" value="location">
    <input type="checkbox" id="K_hall" name="K_hall" value="location">
    <input type="checkbox" id="Masonic" name="Masonic" value="location">


    <p>Issue</p>
      <nav>
        <ul>
          <li>
            <a href="submission_page.html">Home</a>
          </li>
        </ul>
      </nav>

    </header>

    <main>

    </main>
  </body>
</html>